.env:
  directory: "."

spring:
  data:
    mongodb:
      uri: ${env.MONGODB_URI}
      database: ${env.MONGODB_DB}

generators:
  links: "https://pastebin.com/raw/6hjV0mE4"

server:
  error:
    include-message: always
  port: 80

tokens:
  openai: ${env.OPENAI_BEARER_TOKEN}
  admin: ${env.ADMIN_TOKEN}

